<mat-toolbar color="primary">
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <div class="brand">Victor's Poject</div>
  <div class="spacer"></div>
  <nav class="nav-menu">
    <ul class="nav-items">
      <li><a class="nav-item" routerLink="home">Home</a></li>
      <li><a class="nav-item" routerLink="about">About</a></li>
      <li><a class="nav-item" routerLink="contacts">Contacts</a></li>
    </ul>
  </nav>
  <div class="spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
    <button mat-menu-item (click)="login()"><mat-icon>login</mat-icon>Login</button>
    <button mat-menu-item (click)="signup()"><mat-icon>person_add</mat-icon>Sign Up</button>
  </mat-menu>
</mat-toolbar>