<mat-toolbar color="primary">
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <div class="brand">Victor's Poject</div>
  <div class="spacer"></div>
  <nav>
    <ul>
      <li>
        <a mat-button routerLink="/main/home">Home</a>
      </li>
      <li>
        <a mat-button routerLink="/main/about">About</a>
      </li>
      <li>
        <a mat-button routerLink="/main/contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="spacer"></div>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon>login</mat-icon>Login</button>
    <button mat-menu-item><mat-icon>person_add</mat-icon>Sign Up</button>
  </mat-menu>
</mat-toolbar>