p
  padding: 1rem 0
button
  width: 12rem
  border-radius: 2rem
.form
  max-width: 40%
  margin: 0 auto
  text-align: left
  pre
    margin-bottom: 2rem
    padding: 2rem
    background-color: #f0f0f0
  mat-form-field
    width: 100%